# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django
*.log
*.pot
*.py[cod]
db.sqlite3
media/
staticfiles/

# Environment
.vscode/
.env
.venv/
venv/
ENV/
env/
*.env

# IDE
.idea/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# PyCharm
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/
